//==============================
// Basic page configuration
//==============================

*,
*::before
*::after {
    box-sizing: border-box;
}

body {
    font-size: $base__font-size;
    line-height: math.div($base__line, $base__font-size);
    font-family: $font-family--primary;
    background-color: palette(grey, xx-light);
    color: palette(black, light);
}

h1 {
    font-family: $font-family--logo;
}

h2, h3, h4{
    font-family: $font-family--secondary;
}
