* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    color: seashell;
    font-size: 22px;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 1;
    align-items: center;
}

header img {
    height: 50px;
    margin-left: 10px;
}

li {
    list-style-type: none;
    display: inline;
    
}

li a {
    text-align: center;
    color: seashell;
    padding: 0 20px;
}

li a:hover {
    color: grey;
}

