.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    border: em(3px) solid $black;
    border-radius: em(14px);
    background: $white;
    font-size: em(14px);

    @include e(label){
        align-self: flex-start;
        display: block;
        position: relative;
        top: em(24px);
        margin-left: em(48px);
    }

    @include e(input){
        max-width: 90%;
        font-size: em(18px);
        padding: em(15px, 18px);
        border-radius: em(14px);
        background: palette(grey, xx-light);
        color: palette(black, dark);
        font-weight: $font-weight--light;
        border: em(2px) solid $black;

        &:focus {
            outline: none;
        }

        &::placeholder{
            font-size: em(13px);
        }
    }
    @include e(btn) {
        width: 90%;
        margin: em(12px) 0;
    }
}