//========================================
// Header rules
//========================================

header {
    display: flex;
    justify-content: space-between;
    margin: em(10px) em(15px);
    align-items: center;
}