//========================================
// Header rules
//========================================

.header {
    height: 100vh;
    &__nav {
        display: flex;
        justify-content: space-between;
        background: $grey; 
        align-items: center;
        height: 10%;
    }
}