//===================================
// Navigation rules here
//===================================
nav {
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 10%;
    right: 0;
    background: $grey;
    transform: scale(1,0);
    transition: 0.4s ease-in-out;
    // border-radius: 50% 0 0 50%;
   
    
    ul {
        position: absolute;
        top: 30%;
        left: 40%;
       
    }

    li {
        margin-bottom: em(24px);
    }
    a {
        text-decoration: none;
        color: $black;
        &:hover {
            color: $white;
        }
    }
}


