@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&family=Rubik&family=Shrikhand&display=swap");
*,
*::before *::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto Mono", monospace, serif;
  background-color: #e3e4e5;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive, serif;
}
h1 a {
  text-decoration: none;
  color: #0b0b0b;
  background-color: #797e83;
}
h1 a:hover {
  background-color: #797e83;
}

h2, h3, h4 {
  font-family: "Rubik", Arial, Sans-serif;
}

.btn {
  width: 6.25em;
  height: 3.125em;
  border-radius: 0.625em;
  background: black;
  color: #fff;
}

.btn:hover {
  background: #93989c;
  color: #fff;
}

#hamb_menu {
  display: none;
}

.menu {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.3125em;
}
.menu__line {
  position: relative;
  width: 2.5em;
  height: 0.3125em;
  background: #0b0b0b;
  box-shadow: 0.0625em 0.0625em 0.1875em rgba(0, 0, 0, 0.4);
  border-radius: 0.3125em;
  transition: 0.4s ease;
  margin-bottom: 0.3125em;
}
.menu__line:nth-child(1) {
  margin-top: 0.4375em;
}
.menu__line:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 2.5em;
  height: 0.3125em;
  background: #0b0b0b;
  border-radius: 0.3125em;
  transition: 0.4s ease;
  opacity: 0;
}

#hamb_menu:checked + .menu .menu__line:first-child, #hamb_menu:checked + .menu .menu__line:nth-child(3) {
  width: 0;
}
#hamb_menu:checked + .menu .menu__line:nth-child(2) {
  transform: rotate(-45deg);
}
#hamb_menu:checked + .menu .menu__line:after {
  opacity: 1;
  transform: rotate(90deg);
}

#hamb_menu:checked ~ nav {
  transform: scale(1, 1);
}

.header {
  height: 100vh;
}
.header__nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #797e83;
  align-items: center;
  height: 10%;
  z-index: 999;
}

nav {
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 100%;
  right: 0;
  background: #797e83;
  transform: scale(1, 0);
  transition: 0.4s ease-in-out;
}
nav ul {
  position: absolute;
  top: 30%;
  left: 40%;
}
nav li {
  margin-bottom: 1.5em;
}
nav a {
  text-decoration: none;
  color: #0b0b0b;
}
nav a:hover {
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  border: 0.125em solid #0b0b0b;
  border-radius: 0.875em;
}
.form__label {
  display: block;
  position: relative;
  top: 1.5625em;
  left: -28%;
}
.form__input {
  width: 70%;
  height: 120%;
  font-size: 1.125em;
  padding: 0.8333333333em;
  border-radius: 0.875em;
  background: #e3e4e5;
  color: black;
  font-weight: 300;
}
.form__input:focus {
  border-color: #fff;
}

.main {
  display: grid;
  width: 80%;
  height: 60vh;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  top: 30%;
  left: 10%;
}
.main__p {
  grid-row: 1/span 1;
  font-size: 1.5em;
  align-self: end;
}
.main__p span {
  font-family: "Shrikhand", cursive, serif;
}
.main__p--sub {
  grid-row: 2/span 1;
}
.main__btn {
  grid-row: 3/span 1;
  justify-self: center;
  align-self: center;
}

img {
  width: 100%;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
