//=================================
// Rules for the Contact page
//=================================

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include e(address) {
        display: none;
    }
    @include e(phone) {
        display: none;
    }
    @include e(email) {
        display: none;
    }
}